@import "./variables.scss";

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family:$Poppins;
  width: 100%;
  color: $dark;
  background-image: url("https://c1.wallpaperflare.com/path/427/745/192/notebook-natural-laptop-macbook-497500668a927f46aa19fafb668d8702.jpg");
  background-size: cover;
}

#root{
  height:100%;

}